.container {
    background: rgb(101, 0, 173);
    display: flex;
    padding: 40px;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

#left {
    display: flex;
    background: #a504b4;
    padding: 30px;
    border: 2px solid black;
    gap: 20px;
}

#right {
    display: flex;
    flex-direction: column;
    background-color: #a504b4;
    padding: 30px;
    border: 2px solid black;
    gap: 20px;
}

#left div, #right div {
    display: flex;
    background: #fff;
    border: 2px solid black;
    padding: 50px;
    align-items: center;
}
